extends base 


block content 
    main.main
        div(style="display:flex;flex-direction:column")
                img(src="/node_structure/1.jpg", alt="",style="width:60%;margin-bottom:1rem")
            
                img(src="/node_structure/2.jpg", alt="",style="width:60%;margin-bottom:1rem")
             
                img(src="/node_structure/3.jpg", alt="",style="width:60%;margin-bottom:1rem")
            
                img(src="/node_structure/4.jpg", alt="",style="width:60%;margin-bottom:1rem")
            
                img(src="/node_structure/5.jpg", alt="",style="width:60%;margin-bottom:1rem")

